body {
  font-family: "Gill Sans", Calibri, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #6b6b6b6a;
}

.main {
  max-width: 300px;
  width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #333;
}

.container {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  background: #f0f0f0;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  line-height: 1.8;
  text-align: left;
}

.container p {
  margin: 0;
}

#item {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

#item:focus {
  border-color: #007bff;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  border-radius: 5px;
  padding: 14px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add {
  background: #28a745;
  color: #fff;
}

#add:hover {
  background: #218838;
}

#remove {
  background: #dc3545;
  color: #fff;
}

#remove:hover {
  background: #c82333;
}

.toggle-checkbox {
  margin-right: 5px;
}

.completed-item {
  text-decoration: line-through;
  color: #888;
}
